@namespace "library://ns.adobe.com/flex/spark";
@namespace ios "spark.skins.ios.*";
@namespace local "*";
@namespace component "ru.nekit.disn.view.component.*";
@namespace components "spark.components.*";
@namespace mobile "spark.skins.mobile.*";

@font-face { 
	src: url("HelveticaNeue Bold.ttf"); 
	fontFamily: HelveticaNeue;  
	fontWeight: bold; 
	unicodeRange: U+0020-U+002F,U+0030-U+0039,U+003A-U+0040,U+0041-U+005A,U+005B-U+0060,U+0061-U+007A,U+007B-U+007E,U+02C6,U+02DC,U+2013-U+2014,U+2018-U+201A,U+201C-U+201E,U+2020-U+2022,U+2026,U+2030,U+2039-U+203A,U+20AC,U+2122;
	embedAsCFF: false;
}

@font-face { 
	src: url("HelveticaNeue Light.ttf"); 
	fontFamily: HelveticaNeue;   
	unicodeRange: U+0020-U+002F,U+0030-U+0039,U+003A-U+0040,U+0041-U+005A,U+005B-U+0060,U+0061-U+007A,U+007B-U+007E,U+02C6,U+02DC,U+2013-U+2014,U+2018-U+201A,U+201C-U+201E,U+2020-U+2022,U+2026,U+2030,U+2039-U+203A,U+20AC,U+2122;
	embedAsCFF: false;
}

@font-face { 
	src: url("Helvetica Bold.ttf"); 
	fontFamily: Helvetica;  
	fontWeight: bold; 
	unicodeRange: U+0020-U+002F,U+0030-U+0039,U+003A-U+0040,U+0041-U+005A,U+005B-U+0060,U+0061-U+007A,U+007B-U+007E,U+02C6,U+02DC,U+2013-U+2014,U+2018-U+201A,U+201C-U+201E,U+2020-U+2022,U+2026,U+2030,U+2039-U+203A,U+20AC,U+2122;
	embedAsCFF: false;
}

/*Action and Navigation bar*/

.navigationStyle
{
	color: #FFFFFF;
	chromeColor: #112233;
	skinClass: ClassReference("spark.skins.ios.BeveledBackButtonSkin");
}

.cancelEditStyle
{
	skinClass:ClassReference("spark.skins.ios.BeveledActionButtonSkin");
	color: #FFFFFF;
	chromeColor: #112233;
}

.saveEditStyle
{
	skinClass:ClassReference("spark.skins.ios.BeveledActionButtonSkin");
	color: #FFFFFF;
	chromeColor: #112233;
}

.editButtonStyle
{
	chromeColor: #112233;
	skinClass:ClassReference("spark.skins.ios.BeveledActionButtonSkin");
}

/*End Action and Navigation bar*/

/*Menu*/

components|Menu
{
	contentBackgroundColor: #000000;
	contentBackgroundAlpha: 0.6;
	skinClass: ClassReference("spark.skins.ios.MenuSkin");
}

.menuOkButtonStyle
{
	chromeColor: #97B124;
	color: #FFFFFF;
	textShadowColor: #000000;
}

.menuCancelButtonStyle
{	color: #FFFFFF;
	chromeColor: #B86754;
	textShadowColor: #000000;
}

.menuOkButtonStyle:down
{
	chromeColor: #333333;
}

.menuPhoneButtonStyle
{
	chromeColor: #112233;
	color: #FFFFFF;
	textShadowColor: #000000;
}

.menuSmsButtonStyle
{
	chromeColor: #112233;
	color: #FFFFFF;
	textShadowColor: #000000;
}

/*End Menu*/

/*MainMenu*/

.mainMenuItemHintStyle
{
	fontSize: 18;
	color:#ffffff;
	textShadowColor:#333333;
}

.mainMenuStyle
{
	skinClass: ClassReference("spark.skins.mainMenu.MainMenuSkin");
}

.mainMenuStyle #menu
{
	skinClass:ClassReference("spark.skins.mainMenu.MainMenuListSkin");
}

.mainMenuStyle #exitCall
{
	fontSize: 16;
	color:#333333;
	textShadowColor:#ffffff;
	chromeColor: #B86754;
	skinClass:ClassReference("spark.skins.ios.BeveledActionButtonSkin");
}

.mainMenuStyle #exitCall:down
{
	color:#ffffff;
	textShadowColor:#333333;
	chromeColor: #4A999B;
}

.mainMenuStyle #exitContainer
{
	chromeColor: #3d8fca;
	skinClass:ClassReference("spark.skins.form.TopPartFormSkin");
}

.mainMenuStyle #menu
{
	color:#ffffff;
	textShadowColor: #000000;
	fontWeight:bold;
	fontSize: 18;
}

@media (application-dpi: 240)
{
	.mainMenuStyle #menu
	{
		fontSize: 27;
	}
	
	.mainMenuStyle #exitCall
	{
		fontSize: 24;
	}
	
	.mainMenuItemHintStyle
	{
		fontSize: 27;
	}
}

@media (application-dpi: 320)
{
	.mainMenuStyle #menu
	{
		fontSize: 36;
	}
	
	.mainMenuStyle #exitCall
	{
		fontSize: 32;
	}
	
	.mainMenuItemHintStyle
	{
		fontSize: 36;
	}
}

.mainMenuButtonStyle
{
	chromeColor: #112233;
	skinClass:ClassReference("spark.skins.ios.BeveledActionButtonSkin");
}

.mainMenuStyle #titleLabel
{
	color:#ffffff;
	textShadowColor: #333333;
	fontWeight:bold;
	fontSize: 24;
}

@media (application-dpi: 240)
{
	.mainMenuStyle #titleLabel
	{
		fontSize: 36;
	}
}

@media (application-dpi: 320)
{
	.mainMenuStyle #titleLabel
	{
		fontSize: 48;
	}
}

/*End MainMenu*/

/*Register*/

.registerStyle Scroller
{
	skinClass: ClassReference("spark.skins.ScrollerSkin");
}

.registerStyle TextInput
{
	borderVisible: false;
	fontSize: 22;
	paddingTop: 8;
	paddingBottom: 6;
	paddingLeft: 6;
	paddingRight: 6;
	focusSkin: ClassReference(null);
	skinClass: ClassReference("spark.skins.text.TextInputSkin");
}

@media (application-dpi: 240)
{
	.registerStyle TextInput
	{
		fontSize: 33;
		paddingTop: 12;
		paddingBottom: 8;
		paddingLeft: 9;
		paddingRight: 9;
	}
}

@media (application-dpi: 320)
{
	.registerStyle TextInput
	{
		fontSize: 44;
		paddingTop: 16;
		paddingBottom: 12;
		paddingLeft: 12;
		paddingRight: 12;
	}
}

.registerStyle Button
{
	skinClass: ClassReference("spark.skins.ios.ButtonSkin");
	chromeColor: #4A6A9B;
	color: #FAFAFA;
	fontSize: 22;
}

@media (application-dpi: 240)
{
	.registerStyle Button
	{
		fontSize: 33;
	}
}

@media (application-dpi: 320)
{
	.registerStyle Button
	{
		fontSize: 44;
	}
}

.registerStyle Button:down
{
	color:#333333;
	chromeColor: #4A999B;
}

.registerStyle #titleContainer
{
	skinClass: ClassReference("spark.skins.form.TopPartFormSkin");
	chromeColor: #4A6A9B;
}

@media (application-dpi: 160)
{
	.registerStyle #titleContainer
	{
		skinClass: ClassReference("spark.skins.form.MiddlePartFormSkin");
	}
}

.registerStyle #titleContainer Label
{
	horizontalCenter:0;
	verticalCenter:0;
}

.registerFieldFormStyle
{
	skinClass: ClassReference("spark.skins.form.BottomPartFormSkin");
	chromeColor: #4A6A9B;
}

/*End Register*/

/*Login*/

.loginStyle Scroller
{
	skinClass: ClassReference("spark.skins.ScrollerSkin");
}

.loginStyle #titleLabel
{
	fontWeight: bold;
	color: #FFFFFF;
	fontSize: 24;
	textShadowColor: #333333;
}

.loginStyle TextInput
{
	borderVisible: false;
	fontSize: 22;
	paddingTop: 8;
	paddingBottom: 6;
	paddingLeft: 6;
	paddingRight: 6;
	focusSkin: ClassReference(null);
	skinClass: ClassReference("spark.skins.text.TextInputSkin");
}

@media (application-dpi: 240)
{
	.loginStyle TextInput
	{
		fontSize: 33;
		paddingTop: 12;
		paddingBottom: 8;
		paddingLeft: 9;
		paddingRight: 9;
	}
	.loginStyle #titleLabel
	{
		fontSize: 36;
	}
}

@media (application-dpi: 320)
{
	.loginStyle TextInput
	{
		fontSize: 44;
		paddingTop: 16;
		paddingBottom: 12;
		paddingLeft: 12;
		paddingRight: 12;
	}
	.loginStyle #titleLabel
	{
		fontSize: 48;
	}
}

.loginStyle Button
{
	color:#FFFFFF;
	textShadowColor:#333333;
	fontSize: 22;
	chromeColor: #4A6A9B;
	skinClass: ClassReference("spark.skins.ios.ButtonSkin");
}

.loginStyle Button:down
{
	color:#333333;
	textShadowColor:#FFFFFF;
	chromeColor: #4A999B;
}

@media (application-dpi: 240)
{
	.loginStyle Button
	{
		fontSize: 33;
	}
}

@media (application-dpi: 320)
{
	.loginStyle Button
	{
		fontSize: 44;
	}
}

.loginStyle #titleContainer
{
	skinClass: ClassReference("spark.skins.form.TopPartFormSkin");
	chromeColor: #4A6A9B;
}

@media (application-dpi: 160)
{
	.loginStyle #titleContainer
	{
		skinClass: ClassReference("spark.skins.form.MiddlePartFormSkin");
	}
}

.loginStyle #passwordContainer
{
	skinClass: ClassReference("spark.skins.form.BottomPartFormSkin");
	chromeColor: #4A6A9B;
}

.loginStyle components|LabelDisplayComponent
{
	horizontalCenter:0;
	verticalCenter:0;
	textShadowColor: #333333;
}

/*End Login*/

/*RememberMe*/

.rememberMeStyle #titleContainer
{
	skinClass: ClassReference("spark.skins.form.TopPartFormSkin");
	chromeColor: #4A6A9B;
}

.rememberMeStyle #titleContainer Label
{
	horizontalCenter:0;
	verticalCenter:0;
	fontSize: 30;
}

.rememberMeFieldFormStyle
{
	skinClass: ClassReference("spark.skins.form.BottomPartFormSkin");
	chromeColor: #4A6A9B;
}

.rememberMeStyle Button
{
	skinClass: ClassReference("spark.skins.ios.ButtonSkin");
	color:#ffffff;
	chromeColor: #4A6A9B;
	textShadowColor:#333333;
}

.rememberMeStyle Button:down
{
	color:#333333;
	chromeColor: #4A999B;
	textShadowColor:#ffffff;
}

.rememberMeStyle CheckBox
{
}

.rememberMeStyle Button
{
	chromeColor: #4A6A9B;
	fontSize: 22;
	skinClass: ClassReference("spark.skins.ios.ButtonSkin");
}

@media (application-dpi: 240)
{
	.rememberMeStyle Button
	{
		fontSize: 33;
	}
}

@media (application-dpi: 320)
{
	.rememberMeStyle Button
	{
		fontSize: 44;
	}
}

.rememberMeStyle Button:down
{
	chromeColor: #4A999B;
}

/*End RememberMe*

/*StudentProfile*/

.studentProfileStyle #universityGroupContainer
{
	skinClass: ClassReference("spark.skins.form.MiddlePartFormSkin");
	chromeColor: #c2714b;
}

.studentProfileStyle #university
{
	color: #FFFFFF;
	fontSize: 20;
	fontWeight:bold;
	leading: 1;
	textShadowColor: #333333;
}

.studentProfileStyle #universityDescription
{
	color: #ffffff;
	fontSize: 16;
	leading: 1;
	textShadowColor: #333333;
}

.studentProfileStyle #otherContainer
{
	skinClass: ClassReference("spark.skins.form.FormTitleContainerSkin");
	chromeColor: #3d8fca;
}

.studentProfileStyle #universityContainer
{
	skinClass: ClassReference("spark.skins.form.FormTitleContainerSkin");
	chromeColor: #3d8fca;
}

@media (application-dpi: 240)
{
	
	.universityOtherStyle
	{
		fontSize: 24;
	}
	
	.studentProfileStyle #university
	{
		fontSize: 30;
	}
	
	.studentProfileStyle #universityDescription
	{
		fontSize: 24;
	}
}

@media (application-dpi: 320)
{
	
	.studentProfileStyle Button
	{
		fontSize: 36;
	}
	
	.universityOtherStyle
	{
		fontSize: 32;
	}
	
	.studentProfileStyle #university
	{
		fontSize: 40;
	}
	
	.studentProfileStyle #universityDescription
	{
		fontSize: 32;
	}
	
}

/*End StudentProfile*/

/*Me*/

.meStyle #nicknameContainer
{
	skinClass: ClassReference("spark.skins.form.MiddlePartFormSkin");
	chromeColor: #c2714b;
}

.meStyle #otherContainer
{
	skinClass: ClassReference("spark.skins.form.BottomPartFormSkin");
	chromeColor: #3d8fca;
}

.meStyle #dataContainer
{
	skinClass: ClassReference("spark.skins.form.MiddlePartFormSkin");
	chromeColor: #3d8fca;
}

.meStyle Button
{
	chromeColor: #4A6A9B;
	color:#FFFFFF;
	textShadowColor:#333333;
	fontSize: 18;
	skinClass: ClassReference("spark.skins.form.FormButtonSkin");
}

.meStyle Button:down
{
	color:#333333;
	textShadowColor:#FFFFFF;
	chromeColor: #4A999B;
}

@media (application-dpi: 240)
{
	
	.meStyle Button
	{
		fontSize: 27;
	}
	
}

@media (application-dpi: 320)
{
	
	.meStyle Button
	{
		fontSize: 36;
	}
	
}

/*End Me*/

/*User*/

.userStyle #descriptionContainer
{
	skinClass: ClassReference("spark.skins.form.MiddlePartFormSkin");
	chromeColor: #c2714b;
}

.userStyle #otherContainer
{
	skinClass: ClassReference("spark.skins.form.MiddlePartFormSkin");
	chromeColor: #3d8fca;
}

.userStyle #bottomContainer
{
	skinClass: ClassReference("spark.skins.form.BottomPartFormSkin");
	chromeColor: #3d8fca;
}

.userStyle #friendshipContainer
{
	skinClass: ClassReference("spark.skins.containers.FriendshipBlockContainerSkin");
	backgroundColor: haloBlue;
	backgroundAlpha: .75;
}

/*End User*/

/*Sex*/

.sexViewStyle #titleContainer
{
	skinClass: ClassReference("spark.skins.form.FormTitleContainerSkin");
	chromeColor: #3d8fca;
}

.sexViewStyle #menu
{
	skinClass: ClassReference("spark.skins.mobile.ButtonBarSkin");
	chromeColor: #3d8fca;
}

/*End Sex*/

/*AllData*/
/*End AllData*/

/*University*/

.universityStyle #titleContainer
{
	skinClass: ClassReference("spark.skins.form.MiddlePartFormSkin");
	chromeColor: #4A6A9B;
}

.universityStyle TextInput
{
	borderVisible: false;
	fontSize: 22;
	paddingTop: 8;
	paddingBottom: 6;
	paddingLeft: 6;
	paddingRight: 6;
	focusSkin: ClassReference(null);
	skinClass: ClassReference("spark.skins.text.TextInputSkin");
}

@media (application-dpi: 240)
{
	.universityStyle TextInput
	{
		fontSize: 33;
		paddingTop: 12;
		paddingBottom: 8;
		paddingLeft: 9;
		paddingRight: 9;
	}
}

@media (application-dpi: 320)
{
	.universityStyle TextInput
	{
		fontSize: 44;
		paddingTop: 16;
		paddingBottom: 12;
		paddingLeft: 12;
		paddingRight: 12;
	}
}

.universityStyle TextArea
{
	fontSize: 16;
	paddingTop: 9;
	paddingBottom: 4;
	paddingLeft: 10;
	paddingRight: 4;
	focusSkin: ClassReference(null);
	borderVisible: false;
	skinClass: ClassReference("spark.skins.text.TextAreaSkin");
}

@media (application-dpi: 240)
{
	.universityStyle TextArea
	{
		fontSize: 24;
		paddingTop: 9;
		paddingBottom: 6;
		paddingLeft: 15;
		paddingRight: 6;
	}
}

@media (application-dpi: 320)
{
	.universityStyle TextArea
	{
		fontSize: 32;
		paddingTop: 12;
		paddingBottom: 8;
		paddingLeft: 20;
		paddingRight: 8;
	}
}

/*End University*/

/*UniversityGroup*/

.universityOtherStyle #titleContainer
{
	skinClass: ClassReference("spark.skins.form.TitlePartFormSkin");
	chromeColor: #4A6A9B;
}

.universityOtherStyle TextInput
{
	borderVisible: false;
	fontSize: 16;
	paddingTop: 8;
	paddingBottom: 6;
	paddingLeft: 6;
	paddingRight: 6;
	focusSkin: ClassReference(null);
	skinClass: ClassReference("spark.skins.text.TextInputSkin");
}

@media (application-dpi: 240)
{
	.universityOtherStyle TextInput
	{
		fontSize: 24;
		paddingTop: 12;
		paddingBottom: 8;
		paddingLeft: 9;
		paddingRight: 9;
	}
}

@media (application-dpi: 320)
{
	.universityOtherStyle TextInput
	{
		fontSize: 32;
		paddingTop: 16;
		paddingBottom: 12;
		paddingLeft: 12;
		paddingRight: 12;
	}
}

/*End UniversityGroup*/

/*PrivateRule*/

.privateRuleStyle #titleContainer
{
	skinClass: ClassReference("spark.skins.form.TopPartFormSkin");
	chromeColor: #c2714b;
}

.privateRuleStyle #titleLabel
{
	fontWeight: bold;
	color: #FFFFFF;
	fontSize: 18;
	textShadowColor: #333333;
	horizontalCenter:0;
	verticalCenter:0;
}


@media (application-dpi: 240)
{
	.privateRuleStyle #titleLabel
	{
		fontSize: 27;
	}
}

@media (application-dpi: 320)
{
	.privateRuleStyle #titleLabel
	{
		fontSize: 36;
	}
}

.privateRuleFieldStyle
{
	skinClass: ClassReference("spark.skins.form.MiddlePartFormSkin");
	chromeColor: #3d8fca;
}

.privateRuleFieldBottomStyle
{
	skinClass: ClassReference("spark.skins.form.BottomPartFormSkin");
	chromeColor: #3d8fca;
}

/*End PrivateRule*/

/*About me*/

.aboutMeStyle #mainContainer
{
	skinClass: ClassReference("spark.skins.form.MiddlePartFormSkin");
	chromeColor: #3d8fca;
}

/*End About me*/

/*About*/

.aboutStyle #mainContainer
{
	skinClass: ClassReference("spark.skins.form.MiddlePartFormSkin");
}

/*End About*/

/*Status*/

.statusViewStyle #mainContainer
{
	skinClass: ClassReference("spark.skins.form.MiddlePartFormSkin");
	chromeColor: #3d8fca;
}

/*End Status*/

/*Nickname*/

.nicknameViewStyle #titleContainer
{
	skinClass: ClassReference("spark.skins.form.FormTitleContainerSkin");
	chromeColor: #c2714b;
}

.nicknameViewStyle TextInput
{
	paddingTop: 6;
	paddingBottom: 4;
	paddingLeft: 8;
	paddingRight: 4;
	borderVisible: false;
	fontSize: 28;
	focusSkin: ClassReference(null);
	skinClass: ClassReference("spark.skins.text.TextInputSkin");
}

@media (application-dpi: 240)
{
	.nicknameViewStyle TextInput
	{
		fontSize: 42;
		paddingTop: 9;
		paddingBottom: 6;
		paddingLeft: 12;
		paddingRight: 6;
	}
}

@media (application-dpi: 320)
{
	.nicknameViewStyle TextInput
	{
		fontSize: 56;
		paddingTop: 12;
		paddingBottom: 8;
		paddingLeft: 16;
		paddingRight: 8;
	}
}

/*End Nickname*/

/*Name*/

.fullnameViewStyle #titleContainer
{
	skinClass: ClassReference("spark.skins.form.FormTitleContainerSkin");
	chromeColor: #3d8fca;
}

.fullnameViewStyle TextInput
{
	borderVisible: false;
	fontSize: 18;
	paddingTop: 8;
	paddingBottom: 6;
	paddingLeft: 6;
	paddingRight: 6;
	focusSkin: ClassReference(null);
	skinClass: ClassReference("spark.skins.text.TextInputSkin");
}

@media (application-dpi: 240)
{
	.fullnameViewStyle TextInput
	{
		fontSize: 27;
		paddingTop: 12;
		paddingBottom: 8;
		paddingLeft: 9;
		paddingRight: 9;
	}
}

@media (application-dpi: 320)
{
	.fullnameViewStyle TextInput
	{
		fontSize: 36;
		paddingTop: 16;
		paddingBottom: 12;
		paddingLeft: 12;
		paddingRight: 12;
	}
}

/*End Name*/

/*Birthday*/

.birthdayStyle #titleContainer
{
	skinClass: ClassReference("spark.skins.form.FormTitleContainerSkin");
	chromeColor: #3d8fca;
}

.birthdayStyle #birthday
{
	textAlign: center;
	fontSize: 24;
/*	fontWeight:bold;*/
	textShadowColor:#666666;
	color:#333333;
}

@media (application-dpi: 240)
{
	.birthdayStyle #birthday
	{
		fontSize: 36;
	}
}

@media (application-dpi: 320)
{
	.birthdayStyle #birthday
	{
		fontSize: 48;
	}
}

/*End Birthday*/

/*Phone*/

.phoneStyle #prefix
{
	fontWeight:bold;
	fontSize: 24;
	paddingTop: 8;
	paddingBottom: 6;
	paddingLeft: 6;
	paddingRight: 6;
}

.phoneStyle #titleContainer
{
	skinClass: ClassReference("spark.skins.form.FormTitleContainerSkin");
	chromeColor: #3d8fca;
}

.phoneStyle TextInput
{
	focusSkin: ClassReference(null);
	skinClass: ClassReference("spark.skins.text.TextInputSkin");
}

.phoneTextStyle
{
	borderVisible: false;
	fontSize: 24;
	paddingTop: 8;
	paddingBottom: 6;
	paddingLeft: 6;
	paddingRight: 6;
}

@media (application-dpi: 240)
{
	.phoneTextStyle, .phoneStyle #prefix
	{
		fontSize: 36;
		paddingTop: 12;
		paddingBottom: 8;
		paddingLeft: 9;
		paddingRight: 9;
	}
}

@media (application-dpi: 320)
{
	.phoneTextStyle, .phoneStyle #prefix
	{
		fontSize: 48;
		paddingTop: 16;
		paddingBottom: 12;
		paddingLeft: 12;
		paddingRight: 12;
	}
}

/*End Phone*/

/*UserMenu*/
/*End UserMenu*/

/*FriendMenu*/
/*End FriendMenu*/

/*FriendshipRequestAddStyle*/

.friendshipRequestAddStyle #mainContainer
{
	skinClass: ClassReference("spark.skins.form.MiddlePartFormSkin");
	chromeColor: haloBlue;
}

.friendshipRequestAddStyle Button
{
	chromeColor: #4A6A9B;
	color:#FFFFFF;
	textShadowColor:#333333;
	fontSize: 16;
	skinClass: ClassReference("spark.skins.ios.ButtonSkin");
}

.friendshipRequestAddStyle Button:down
{
	color:#333333;
	textShadowColor:#FFFFFF;
	chromeColor: #4A999B;
}

@media (application-dpi: 240)
{
	
	.friendshipRequestAddStyle Button
	{
		fontSize: 24;
	}
	
}

@media (application-dpi: 320)
{
	
	.friendshipRequestAddStyle Button
	{
		fontSize: 32;
	}
	
}

/*End FriendshipRequestAddStyle*/

/*MessageView*/

.messageStyle #messageContainer
{
	skinClass:ClassReference("spark.skins.containers.MessageContainerSkin");
	/*chromeColor: #ff8800;*/
}

.messageButtonStyle
{
	skinClass:ClassReference("spark.skins.ios.BeveledActionButtonSkin");
	chromeColor: haloBlue;
}

.messageStyle #messageInput
{
	borderVisible: false;
	fontSize: 16;
	paddingTop: 6;
	paddingBottom: 6;
	paddingLeft: 8;
	paddingRight: 4;
	focusSkin: ClassReference(null);
/*	borderSkin:ClassReference("spark.skins.spark.BorderContainerSkin");*/
	skinClass: ClassReference("spark.skins.text.MessageTextInputSkin");
}

@media (application-dpi: 240)
{
	.messageStyle #messageInput
	{
		fontSize: 24;
		paddingTop: 9;
		paddingBottom: 9;
		paddingLeft: 12;
		paddingRight: 6;
	}
}

@media (application-dpi: 320)
{
	.messageStyle #messageInput
	{
		fontSize: 32;
		paddingTop: 12;
		paddingBottom: 12;
		paddingLeft: 16;
		paddingRight: 8;
	}
}

/*End MessageView*/

/*FriendshipBlockStyle*/

.friendshipBlockStyle Button
{
	skinClass:ClassReference("spark.skins.ios.ButtonSkin");
	color: #333333;
	textShadowColor: #FFFFFF;
}

.friendshipBlockStyle Button:down
{
	color: #FFFFFF;
	textShadowColor: #333333;
}

.friendshipBlockStyle #requestCall
{
	chromeColor:#4A999B;
}

.friendshipBlockStyle #requestCall:down
{
	chromeColor: haloBlue;
}

.friendshipBlockStyle #requestConfirmCall
{
	chromeColor:#6A8B59;
}

.friendshipBlockStyle #requestAbortCall
{
	chromeColor:#C36364;
}

.friendshipBlockStyle #requestRemoveCall
{
	skinClass:ClassReference("spark.skins.ios.ButtonSkin");
	chromeColor:#C36364;
}

.friendshipBlockStyle components|LabelDisplayComponent
{
	fontSize: 14;
	color: #FFFFFF;
	textShadowColor: #333333;
}

.friendshipBlockStyle #requestField
{
	fontSize: 14;
	color: #FFFFFF;
	textShadowColor: #333333;
}

@media (application-dpi: 240)
{
	
	.friendshipBlockStyle components|LabelDisplayComponent
	{
		fontSize: 21;
	}	
	
	.friendshipBlockStyle #requestField
	{
		fontSize: 21;
	}
}

@media (application-dpi: 320)
{
	
	.friendshipBlockStyle components|LabelDisplayComponent
	{
		fontSize: 28;
	}
	
	.friendshipBlockStyle #requestField
	{
		fontSize: 28;
	}
}

/*End FriendshipBlockStyle*/

/*Unsorted*/

.textAreaStyle
{
	borderVisible: false;
	fontSize: 16;
	paddingTop: 9;
	paddingBottom: 4;
	paddingLeft: 10;
	paddingRight: 4;
	focusSkin: ClassReference(null);
	skinClass: ClassReference("spark.skins.text.TextAreaSkin");
}

@media (application-dpi: 240)
{
	.textAreaStyle
	{
		fontSize: 24;
		paddingTop: 9;
		paddingBottom: 6;
		paddingLeft: 15;
		paddingRight: 6;
	}
}

@media (application-dpi: 320)
{
	.textAreaStyle
	{
		fontSize: 32;
		paddingTop: 12;
		paddingBottom: 8;
		paddingLeft: 20;
		paddingRight: 8;
	}
}

/*End Unsorted*/

global
{
	modalTransparency: 0.5;
	modalTransparencyBlur: 3;
	modalTransparencyColor: #333333;
	modalTransparencyDuration: 100;
}

Application
{
	backgroundColor: #333333;
	locale: 'ru-RU'; 
}

ActionBar
{
	paddingTop: 0;
	paddingBottom: 0;
	paddingLeft: 0;
	paddingRight: 0;
	chromeColor: #B86754;
	defaultButtonAppearance: beveled;
	skinClass: ClassReference("spark.skins.ios.ActionBarSkin");
}

ActionBar.beveled Group#navigationGroup Button
{
	fontSize: 12;
	color: #FFFFFF;
	skinClass: ClassReference("spark.skins.mobile.BeveledActionButtonSkin");
}

ActionBar.beveled Group#actionGroup Button
{
	fontSize: 12;
	color: #FFFFFF;
	skinClass: ClassReference("spark.skins.mobile.BeveledActionButtonSkin");
}

ActionBar #titleDisplay
{
	fontSize: 16;
}

/*Form
{
	backgroundAlpha: 0;
}

FormItem
{
	backgroundAlpha: 0;
}*/

CheckBox
{
	skinClass: ClassReference("com.pialabs.eskimo.skins.mobile.ios.MobileCheckBoxSkin");
	symbolColor: haloBlue;
	fontWeight: normal;
	textShadowColor: #333333;
	color: #ffffff;
}

Scroller
{
	verticalScrollPolicy: on;
	skinClass: ClassReference("spark.skins.ScrollerSkin");
}

View
{
	skinClass: ClassReference("spark.skins.ios.ViewSkin");
}

SpinnerListItemRenderer 
{
	fontSize: 18;
	/*	fontWeight: bold;*/
	paddingLeft: 18;
	paddingRight: 18;
}

ViewMenuItem
{
	iconPlacement: left;
	color: #333333;
	textShadowColor: #ffffff;
	fontSize: 16;
	fontWeight: bold;
	skinClass: ClassReference("spark.skins.ios.ViewMenuItemSkin");
}

/*ViewMenuItem:down
{
chromeColor: #0000FF;
color: #FFFFFF;
textShadowColor: #000000;
}*/

@media (application-dpi: 320)
{
	ActionBar #titleDisplay
	{
		fontSize: 32;
	}
	
	ActionBar.beveled Group#navigationGroup Button, ActionBar.beveled Group#actionGroup Button
	{
		fontSize: 24;
	}
	
	ViewMenuItem
	{
		fontSize: 36;
	}
	
	SpinnerListItemRenderer 
	{
		fontSize: 36;
		paddingLeft: 36;
		paddingRight: 36;
	}
}

@media (application-dpi: 240)
{
	
	ActionBar #titleDisplay
	{
		fontSize: 24;
	}
	
	ActionBar.beveled Group#navigationGroup Button, ActionBar.beveled Group#actionGroup Button
	{
		fontSize: 18;
	}
	
	ViewMenuItem
	{
		fontSize: 27;
	}
	
	SpinnerListItemRenderer 
	{
		fontSize: 27;
		paddingLeft: 27;
		paddingRight: 27;
	}
}

/**/

.universityOtherStyle
{
	color: #ffffff;
	fontSize: 16;
	leading: 1;
	textShadowColor: #333333;
}

.fullnameStyle
{
	color: #FFFFFF;
	fontSize: 20;
	leading: 1;
	textShadowColor: #333333;
}

.sexAndAgeStyle
{
	color: #333333;
	fontSize: 16;
	textShadowColor: #ffffff;
}

.photoContainerStyle
{
	skinClass: ClassReference("spark.skins.containers.PhotoContainerSkin");
}

.headerContainerStyle
{
	skinClass: ClassReference("spark.skins.form.TopPartFormSkin");
	chromeColor: #c2714b;
	fontWeight: bold;
	color: #FFFFFF;
	fontSize: 16;
	textShadowColor: #333333;
}

.nicknameStyle
{
	fontWeight: bold;
	color: #333333;
	fontSize: 24;
	textShadowColor: #FFFFFF;
}

.statusDataFullStyle
{
	color: #ffffff;
	fontSize: 18;
	fontWeight: normal;
	textShadowColor: #333333;
}

.ageDataFullStyle
{
	color: #ffffff;
	fontSize: 18;
	fontWeight: normal;
	textShadowColor: #333333;
}

.statusDataStyle
{
	color: #ffffff;
	fontSize: 16;
	textShadowColor: #333333;
}

.phoneDataStyle
{
	color: #FFFFFF;
	fontWeight:normal;
	fontSize: 18;
	textShadowColor: #333333;
}

.menuTitleStyle
{
	color: #ffffff;
	fontWeight: bold;
	textShadowColor: #333333;
	fontSize: 18;
}

.dataTitleStyle
{
	color: #333333;
	fontWeight: normal;
	textShadowColor: #ffffff;
	fontSize: 16;
}

.buttonMenuStyle
{
	skinClass: ClassReference("spark.skins.buttonMenu.ButtonMenuSkin");	
}

.buttonMenuTitleStyle
{
	color: #333333;
	fontWeight: normal;
	textShadowColor: #bbaacc;
	fontSize: 16;
}

.buttonMenuStyle ButtonBarButton
{
	fontWeight:bold;
	fontSize: 18;
	color:#FFFFFF;
	chromeColor: #4A6A9B;
	textShadowColor:#333333;
	hintColor: #FFFFFF;
}

.buttonMenuStyle ButtonBarButton:down
{
	color:#333333;
	textShadowColor:#FFFFFF;
	chromeColor: #4A999B;
	hintColor: #333333;
}

@media (application-dpi: 240)
{
	
	.headerContainerStyle
	{
		fontSize: 24;
	}
	
	.fullnameStyle
	{
		fontSize: 30;
	}
	
	.universityOtherStyle
	{
		fontSize: 24;
	}
	
	.sexAndAgeStyle
	{
		fontSize: 24;
	}
	
	.statusDataStyle
	{
		fontSize: 24;
	}
	
	.statusDataFullStyle
	{
		fontSize: 27;
	}
	
	.ageDataFullStyle
	{
		fontSize: 27;
	}
	
	.phoneDataStyle
	{
		fontSize: 27;
	}
	
	.nicknameStyle
	{
		fontSize: 36;
	}
	
	.buttonMenuStyle ButtonBarButton
	{
		fontSize: 27;
	}
	
	.buttonMenuTitleStyle
	{
		fontSize: 24;
	}
	
	.menuTitleStyle
	{
		fontSize: 27;
	}
	
	.dataTitleStyle
	{
		fontSize: 24;
	}
}

@media (application-dpi: 320)
{
	
	.headerContainerStyle
	{
		fontSize: 32;
	}
	
	.fullnameStyle
	{
		fontSize: 40;
	}
	
	.universityOtherStyle
	{
		fontSize: 32;
	}
	
	.sexAndAgeStyle
	{
		fontSize: 32;
	}
	
	.phoneDataStyle
	{
		fontSize: 36;
	}
	
	.statusDataStyle
	{
		fontSize: 32;
	}
	
	.ageDataFullStyle
	{
		fontSize: 36;
	}
	
	.statusDataFullStyle
	{
		fontSize: 36;
	}
	
	.nicknameStyle
	{
		fontSize: 48;
	}
	
	.buttonMenuStyle ButtonBarButton
	{
		fontSize: 36;
	}
	
	.buttonMenuTitleStyle
	{
		fontSize: 32;
	}
	
	.menuTitleStyle
	{
		fontSize: 36;
	}
	
	.dataTitleStyle
	{
		fontSize: 32;
	}
}